[2016-11-13 08:52] tomwayson opened #1 "Demonstrate the value of lazy loading the ArcGIS API for JavaScript"
Add a route that loads quickly. Only when the user takes an action (link, tab) to view the map should they incur the penalty of loading the ArcGIS API for JavaScript.

[2016-11-13 08:52] tomwayson opened #2 "Show how to load the API and required modules in a route's resolve"
Looks like this isn't as straight forward in Angular2 as it was in Angular:

https://www.codementor.io/angularjs/tutorial/angular-2-route-resolves--typescript
http://blog.thoughtram.io/angular/2016/10/10/resolving-route-data-in-angular-2.html

Otherwise I would have included as part of #1

[2016-11-13 08:58] tomwayson opened #3 "extract esri loader into it's own repo"
Should be:
- framework agnostic
- not dependent on promises (favor callbacks) or any polyfills
- TypeScript 😞 (or ES2015)
- able to be loaded to be in an ES5 application (such as angular-esri-map) as a UMD module

[2016-11-14 02:59] TheKeithStewart commented on #1
I'm assuming you would like the quick landing page to be have a little more than just a way of navigating to the mapping component.  Any issue with me adding Angular Material to handle some of the layout?

[2016-11-14 03:00] tomwayson commented on #1
That would be awesome!

[2016-11-14 03:40] tomwayson commented on #3
This is what I have in mind:

<img src="https://docs.google.com/drawings/d/1ktkj9ytmDTccnhB36qHvAw9U2q-4yCkGNtd2RL9w9x4/pub?w=960&amp;h=720">

@jwasilgeo @kgs916 @davetimmins thoughts or suggestions welcome.

[2016-11-14 17:12] tomwayson opened #4 "Show how to use the official type definitions for the ArcGIS API for JavaScript"
I'm not a TS guy, but I get the impression that [this line](https://github.com/tomwayson/angular-cli-esri/blob/master/src/app/esri-map/esri-map.component.ts#L42) should look something like:
[code]

Need to include the [ArcGIS d.ts](https://github.com/Esri/jsapi-resources/tree/master/3.x/typescript) and then do something with it, right? Like add wierd `/// ref` comments to some files or something.

[2016-11-14 17:33] tomwayson opened #5 "Unit tests"
So the beauty of using the esri loader is that we should **not** have do [all the crazy crap you need to do to load ArcGIS API for JavaScript modules in karma](https://github.com/tomwayson/esri-webpack-babel/issues/5#issuecomment-260380954). We should be able to mock the esriLoader and the modules it returns. Better still, this app should include a service to handle all things map related and then

[2016-11-14 17:37] tomwayson opened #6 "e2e test"
This should include at least one e2e test that verifies that the map was drawn as expected.

@jwasilgeo did [a lot of great work in this area for angular-esri-map](https://github.com/Esri/angular-esri-map/tree/master/test/e2e/).

[2016-11-14 20:43] davetimmins commented on #3
I like the idea. I'm just about to start a new project using the react bits so I should be more in that headspace soon so I'll keep an eye on this and see about working the loader in.

For the react example when you say generate are you meaning via yeoman or just an npm package? Might end up being a case of just providing the base repo and some doco around how to use / extend it.

[2016-11-15 02:10] TheKeithStewart commented on #3
I also like the idea.  Are you thinking to have all of these using the same version of the ArcGIS JavaScript API or will some of them be v4 and some be v3 or might there be more than one example for some of these to represent both v3 and v4?

[2016-11-15 17:15] tomwayson opened #8 "Add a comparison of this approach vs that shown in other esri webpack examples to README"
Pros of the approach in this repo:
- you can use it w/ the angular-cli
- you can lazy load the ArcGIS API for JavaScript

Assuming #4 and #5 work the only downside I can think of w/ the approach outlined in this repo is that you don't get to write `import Map from 'esri/map'`, instead you have to use the loader service [as shown in the map component](https://github.com/tomwayson/angular-cli-esri/b

[2016-11-15 17:42] jwasilgeo commented on #3
Same here, I like it.  From the perspective of `angular-esri-map`, it'll have to rely on `esri-loader` as part of its package.json `dependencies`, right?  It'll also be a good chance to revisit the single module or array of modules options that we've been supporting and perhaps we can cut out the single module convenience that is currently provided.  Do I follow what you had in mind in the general

[2016-11-15 17:44] tomwayson commented on #3
@davetimmins my goal would be to use something like [create-react-app](https://github.com/facebookincubator/create-react-app) or whatever is the closest thing to the angular-cli in the React ecosystem to scaffold an idiomatic React app. I'd then just make whatever changes are needed to use the esri-loader to create a map and document them. One idea would be to then bake those changes into a fork o

[2016-11-15 17:57] tomwayson commented on #3
@kgs916 good question. In the past @jwasilgeo and I have made a conscious effort to do alternate on 3.x and 4.x so people can see that these examples work w/ either. I also see the benefit in having these examples having pretty much the exact same map so you can compare apples to apples. For example, this repo should really be compared to [angular2-esri-example](https://github.com/tomwayson/angula

[2016-11-15 18:03] tomwayson commented on #3
@jwasilgeo - yeah I follow you. I don't know about cutting out the single module convenience signature of the require function in angular-esri-map - only b/c it would be a breaking change and we don't want to deal w/ that. Maybe deprecating it? I think the exercise of trying to shoehorn a minimal loader into the overly convientized API we created there will help us shape the right api for esri-loa

[2016-11-15 18:05] jwasilgeo commented on #3
Yeah, I'm on the same page with you. I just want to break it so bad. 😏

Good point!

[2016-11-15 18:13] davetimmins commented on #3
@tomwayson `create-react-app` is the simplest starter I've seen, it's very barebones though for it to be useful in this case you start by running the `eject` task so that you can customise the build. I also added in redux but that isn't required so using the base project is less effort in terms of total steps. Main difference becomes where you setup the map/view (reducer vs component).

[2016-11-16 05:42] tomwayson commented on #3
I've updated the above diagram to include the other webpack examples:

https://docs.google.com/drawings/d/1ktkj9ytmDTccnhB36qHvAw9U2q-4yCkGNtd2RL9w9x4/edit?usp=sharing

[2016-11-16 14:43] tomwayson commented on #1
resolved in #7

[2016-11-16 14:43] #1 closed

[2016-11-16 16:13] TheKeithStewart commented on #2
I am starting to look into this now and should have a PR ready in the next few days

[2016-11-16 17:10] tomwayson commented on #2
@kgs916 that's awesome.

My idea was that the route would be responsible for providing the esri/Map module to the component, and the component can just be responsible for drawing the map.

FYI  - later today/tonight I'm going to make a couple of minor wording changes on the /home route and some style/basemap changes on the /map route and then was going to cut a release, so you may have to rebase b

[2016-11-16 18:13] TheKeithStewart commented on #2
Sounds good, @tomwayson.  Thanks for the heads up about the upcoming changes!

[2016-11-16 21:03] tomwayson opened #9 "Modify esriLoader service to be promised based"
After #3 may want to wrap the imported functions from the external esri-loader library w/ functions that return promises (instead of passing callbacks). This should make it easier to integrate w/ other parts of the app (for example #2).

[2016-11-17 07:16] tomwayson commented on #2
FYI - my minor wording and style tweaks to your awesome lazy-loading PR have been pushed to master, and is up on gh-pages https://tomwayson.github.io/angular-cli-esri/. You'll want to pull and rebase before PRing any work on this issue.

[2016-11-18 05:05] dgwaldo commented on #5
I spent the last few evenings working on the testing issue with webpack and karma.  I still haven't figured out what's going on past it seems to be things are running out of order.

Every reference to the esri modules fails, and then I get
ReferenceError: Can't find variable: define at karma-test-shim.js.

This [branch](https://github.com/dgwaldo/black-book/tree/add-map) has the problem code test

[2016-11-19 07:39] #3 closed

[2016-11-19 07:39] #9 closed

[2016-11-20 16:00] #2 closed

[2016-11-20 16:36] tomwayson commented on #5
@dgwaldo I think you're on the right path.

The best practice of pushing dependencies to the edge of your application is especially true for the ArcGIS API due to all this Dojo module loading nonsense. So, my general approach when developing an app w/ Angular (or any framework) is to create one (or very few) _services_ that are the only parts of the application that can load or use the ArcGIS clas

[2016-11-21 05:08] tomwayson opened #13 "Why does this have to use relative paths to the TypeScript source to import esri-loader?"
[See these lines](https://github.com/tomwayson/angular-cli-esri/blob/3e128507db21ee796d1c6db7b9b19cba947db1af/src/app/esri-loader.service.ts#L2-L4).

If I try to use the `import { isLoaded, bootstrap, dojoRequire } from 'esri-loader';` form, I get `index.js:3Uncaught Error: Cannot find module "."` errors in the console at runtime, looks like in the UMD block of node_modules/esri-loader/dist/index.

[2016-11-21 05:25] tomwayson opened #14 "repo name should indicate that it's an example application (not an angular-cli plugin)"
I'm thinking "esri-angular-cli-example" to be more in line w/ my other repositories. That's an uglier name for sure, and I'd consider "angular-cli-esri-example", but my concern is that angular-cli will want to use the "angular-cli" prefix for plugins and such.

Open to suggestion here.

[2016-11-21 07:02] tomwayson opened #15 "map service"
It's a bit overkill given the limited mapping functionality of this repo (so far), but it would be good to show the pattern of [using a service to encapsulate all mapping functionality](https://github.com/tomwayson/angular-cli-esri/issues/5#issuecomment-261788667).

After creating that, should wrap up #5 by passing the mock map service (instead of a mock route) in the map component test. Also demo

[2016-11-21 07:08] tomwayson opened #16 "extract esriLoaderService to own package"
Would like to create a packag (anuglar2-esri-loader?) that makes the esri loader service to any angular 2 app. This code is generic and reusable.

This could be kind of like an [angular-esri-map](https://github.com/Esri/angular-esri-map) for Angular 2 - w/o the reusable map components. Those could be built as their own repos (angular2-esri3-components and angular2-esri4-components) if someone real

[2016-11-21 11:14] TheKeithStewart commented on #16
@tomwayson, so, you are thinking that it would potentially be three separate repos?

* anuglar2-esri-loader: to load the ArcGIS library and modules
* angular2-esri3-component: a component that will create a map that using ESRI v3
* angular2-esri4-component: a component that will create a map that using ESRI v4

The two map components would probably then need to accept a configuration object simila

[2016-11-21 15:36] tomwayson commented on #16
Yep. That's it.

The main reason to do it that way is that the loader logic works the same for both versions 3 & 4, but components are tied one or the other.

The other reason is that in my experience maintaining [angular2-esri-example](https://github.com/tomwayson/angular2-esri-example) and [angular-esri-map](https://github.com/Esri/angular-esri-map) tells me that developers are interested in bot

[2016-11-21 15:48] tomwayson commented on #16
Another, kinda radical, idea is that the component repos could use the `import` pattern from angular2-esri-map and expect that if you want to lazy load the ArcGIS API your app would use esri-loader _and then_ use [esri-system-js](https://github.com/Esri/esri-system-js) to register the modules before you consume them in the components or a shared map service. I'm not super keen on the complexity th

[2016-11-21 15:52] tomwayson commented on #16
FYI - good related resources:
http://blog.angular-university.io/how-to-create-an-angular-2-library-and-how-to-consume-it-jspm-vs-webpack/
https://medium.com/@OCombe/how-to-publish-a-library-for-angular-2-on-npm-5f48cdabf435#.ahuv2bt6d

[2016-11-21 15:58] tomwayson commented on #16
One final note on library naming conventions: should check github and/or nmp to see if the results of [this poll](https://twitter.com/AngularAir/status/674311796082106368) still hold true and use whatever is the most common prefix.

[2016-11-21 17:00] tomwayson commented on #16
Searching the npm registry and github returned a lot more "angular2-" results than "ng-", though I'd say the ng-* results looked like they were mostly libraries. I decided to just stick w/ angular2- and I created https://github.com/tomwayson/angular2-esri-loader as a place to copy over the service from this repo.

[2016-11-22 01:01] tomwayson commented on #14
done

[2016-11-22 01:01] #14 closed

[2016-11-23 23:57] tomwayson opened #18 "Use compact version of JSAPI"
Duh

[2016-11-23 23:59] tomwayson commented on #13
Resolved in 8e5999abbe578aedaceed1e3aba7e70358c01cc1

[2016-11-23 23:59] #13 closed

[2016-11-26 02:40] TheKeithStewart commented on #16
I found a solution for this that I believe will work well for folks that are using either the @types/core-js or @types/es6-shim packages (or neither).  I submitted a pull request https://github.com/tomwayson/angular2-esri-loader/pull/1 with the fix.

[2016-11-27 04:59] #16 closed

[2016-11-27 05:15] TheKeithStewart commented on #16
@tomwayson I've got a component put together that can be the angular2-esri4-component. Need to put the finishing touches on it and will get it up on NPM in the next day or so.

[2016-11-27 12:11] TheKeithStewart commented on #16
@tomwayson I have now published https://www.npmjs.com/package/angular2-esri4-component.  Please take a look when you get a chance.  I'm starting to use this on a project so I will get a feel for how easy it really is to use.  Once I've used it for a few days and feel that it is in good shape I can create one for esri3.

[2016-11-28 04:07] tomwayson commented on #16
@kgs916 that is awesome!

Are you thinking that this library could eventually include other components like map, legend, layer list, etc? That's what I was suggesting above with angular2-esri4-component**s**. However, it may make just as much sense to create a library per component as it appears you've done here for the v4 MapView. In the case of the latter though, my suggestion would be to use mo

[2016-11-28 11:28] TheKeithStewart commented on #16
I see what you are saying, @tomwayson.  Having each of the components separated into separate libraries would allow someone to pick and choose which ones they bring into their applications.  However, these components wouldn't be huge and potentially tree shaking would help with this anyways.  I'll move towards renaming the library to angular2-esri4-components and plan to expand the list of compone

[2016-11-29 20:56] tomwayson opened #19 "More compelling map"
I think it'd be nifty if this repo's app did exactly the same thing as: https://github.com/tomwayson/esri-react-router-example/ so you could compare 🍎 to 🍏.

That's why I think it'd be cool to implement the map in this app the same way [I've outlined here]( https://github.com/tomwayson/esri-react-router-example/issues/8#issuecomment-263645435)

[2016-11-29 21:00] tomwayson commented on #5
Closing this b/c the test has been created. If #15 ever lands, then those tests will be updated and hopefully a little more clear.

[2016-11-29 21:00] #5 closed

[2016-11-29 21:04] tomwayson commented on #16
@kgs916 now that you've renamed, you should make a PR to this repo to use your `<esri4-map>` component. I assume it will be compatible w/ #19 now that JSAPI 4.1 can load webmaps.

[2016-11-29 21:27] tomwayson opened #20 "Use angular-cli's pattern for installing global libraries?"
Maybe we should do this: https://github.com/angular/angular-cli#global-library-installation instead of manually placing those tags in index.html

[2016-11-29 21:32] tomwayson commented on #20
Guess it depends on when those get loaded (before/after bundles). Also, still have to modify index.html to `require()` bundles, so don't know if it's really any advantage to do this.

[2016-11-30 03:38] #8 closed

[2016-11-30 15:26] TheKeithStewart commented on #16
sounds good, @tomwayson. I should be able to have a PR ready soon.

[2016-12-01 21:39] tomwayson commented on #4
See https://github.com/tomwayson/angular2-esri-loader/issues/2

[2016-12-01 22:31] patrickarlt commented on #4
@tomwayson assign this one to me too and I can do it :)

Oh god I am the TypeScript guy now aren't I...

[2016-12-01 23:01] tomwayson commented on #4
It's all yours (GH won't let me assign til you accept invite I guess).

@odoe you have a challenger for the TS throne

[2016-12-01 23:11] patrickarlt commented on #4
@odoe you can have it. It's fine.

[2016-12-01 23:13] odoe commented on #4
Welcome to the world of TS, first, let's talk about multi-inheritance constructor interfaces...

[2016-12-04 23:08] TheKeithStewart commented on #16
@tomwayson, as I'm working on adding in angular2-esri4-components into this example I'm considering changing the type of "lazy loading" that we are doing.  Check out the below and let me know if you have any problem with going in this direction:
https://angular.io/docs/ts/latest/api/router/index/Routes-type-alias.html#!#sts=Lazy%20Loading
https://twitter.com/victorsavkin/status/797226263291138050?

[2016-12-05 02:25] TheKeithStewart commented on #16
@tomwayson you can see what it will look like at https://github.com/kgs916/angular-cli-esri/tree/esri4Map.  This isn't ready to be a PR as I'm still working on adjusting the tests but it functions correctly.

[2016-12-05 07:18] tomwayson commented on #16
@kgs916

I took a look at it. Here are things I noticed:
1. angular2-esri-loader is no longer a direct dependency, as it is included in angular2-esri4-components, right?
1. the API is no longer lazy loaded in the route resolve, but in the component's `onInit`

One advantage of doing the lazy loading in the component is that it should be easier to show a loading indicator, [as I discovered in esri-

[2016-12-05 11:29] TheKeithStewart commented on #16
@tomwayson You are correct about angular2-esri-loader being a dependency of angular2-esri4-components.  However, I just added it back in as a direct dependency of the esri-angular-cli-example as well so that the version of the loader could be managed locally rather than having to rely on the version being updated on the external library.

I'm submitting the PR now and will address the rest of what

[2016-12-19 04:29] tomwayson commented on #18
Now that this is use angularl2-esri-components which is based on v4 of the JSAPI, this is no longer relevant

[2016-12-19 04:29] #18 closed

[2016-12-20 18:44] tomwayson commented on #15
I'm not sure this makes sense any more now that we are using angular2-esri4-components. If a map service still makes sense anywhere, it's probably in that repository.

Closing for now, but can re-open if there's a need.

[2016-12-20 18:44] #15 closed

[2016-12-20 19:47] tomwayson commented on #20
Actually, b/c we're using [esri-loader](https://github.com/tomwayson/esri-loader) to load the ArcGIS API, we don't "have to modify index.html to require() bundles", nor do we need to configure angular-cli to load the library.

[2016-12-20 19:47] #20 closed

[2016-12-20 20:01] tomwayson opened #22 "More angular-cli way to load the ArcGIS (and font?) CSS"
Currently we [add a link to the CDN stylesheet in index.html](https://github.com/tomwayson/esri-angular-cli-example/blob/e72c8135dce77d465ed5b50ea5a4d24b67bb8105/src/index.html#L14).

That works, but a more angular-cli way to do it would probably be to [add them to the `apps[0].styles` array](https://github.com/angular/angular-cli#global-library-installation).

[2016-12-20 20:08] tomwayson commented on #22
Would also want to update the sentance under the [goal section of the README](https://github.com/tomwayson/esri-angular-cli-example/#goal) with the required steps. The preceding paragraph and the new instructions should probably become their own section called "How it works".

[2016-12-22 22:03] TheKeithStewart commented on #19
@tomwayson I am considering taking this one on.  I am thinking about mapping the location of arenas and stadiums for the major sports in the US.  There could be different feature layers for each of the sports with a widget to choose which layers are being displayed.  Also there would be popup for each graphic displaying information about the stadium.

What do you think?

[2016-12-23 02:59] TheKeithStewart commented on #19
@tomwayson I somehow managed to write my previous comment without reading your comment above it.  I'll plan on doing something along the lines of what was done on the esri-react-router-example.

[2016-12-23 04:17] tomwayson commented on #19
@kgs916

It'd be great if you wanted to take this on!

My preference would be to do a 🍎 to 🍏 comparison of what I end up doing in esri-react-router-example. I have a few local commits that I haven't pushed yet with it working on Living Atlas maps. I'll get those up tonight, so you can see the latest, but I'm [still figuring out what I want to do there](https://github.com/tomwayson/esri-react-route

[2016-12-23 15:59] tomwayson commented on #19
FYI - I've pushed some commits to esri-react-router that have it searching the living atlas (for now): https://tomwayson.github.io/esri-react-router-example/

[2016-12-28 23:20] TheKeithStewart commented on #19
@tomwayson, I'm having an issue with popups within maps in the example.  I'm loading a WebMap but none of the popups in the map will display.  Instead there are just loading images that show up on the left side of the map.  The content of the popup does get into the DOM but cannot be seed on the page.

I'm having a similar issue when I add my own graphics to a feature layer and include a popuptemp

[2017-01-05 09:46] TheKeithStewart commented on #19
@tomwayson I'm still struggling with the popups on maps.  When you have a chance if you could take a look at this and let me know if you have any ideas I'd appreciate it.

[2017-01-13 18:55] tomwayson commented on #19
Hey @kgs916 I still haven't had a chance to look at this, I've been slammed catching up since I was on vacation. I _will_ get to it, but not looking like until later next week at this point. Thank you for your patience.

I suspect that this has to do w/ the interplay btw material and esri styles (w/o having looked at your code at all). I'm pinging @jwasilgeo b/c he's dealt w/ material and Esri and

[2017-01-13 19:05] TheKeithStewart commented on #19
Thanks for the update, @tomwayson!  I know how it is coming back from vacation.

@jwasilgeo, if you are able to take a look I'd appreciate it as well.  In the mean time I will take a look at any conflicts there might be between ESRI and Angular Material CSS.

[2017-01-17 15:56] jwasilgeo commented on #19
@kgs916 can you change the Esri js and css to use the latest JSAPI v4.2?  I see a combo of v4.1 (js) and v4.0 (css).  If you poke around in the DOM, the popup-related elements are there, but the positioning is all funky and hidden behind the view (look for a `div` with `class="esri-popup esri-widget"`).  If you can update the versions, and push to gh-pages again, please let me know and I can conti

[2017-01-18 08:19] TheKeithStewart commented on #19
Good catch, @jwasilgeo!  That was the issue.  After loading v4.2 of the js and css the popups worked just fine.  Thanks for the help!

[2017-01-23 03:51] sidewaiise opened #24 "Can not resolve 'angular2-esri-loader' path after npm install"
I'm having some trouble with module resolution.

In your example you are using webpack. I'm not using webpack, I'm using gulp for build. (see the angular2-seed-material @ https://github.com/DeviantJS/angular2-seed-material2).

I believe there needs to be further definition or something of the module so that the path will resolve correctly. The error I get is:

[2017-01-23 17:56] tomwayson commented on #24
@sidewaiise

Thank you for the feedback. The best place for this issue would be here https://github.com/tomwayson/angular2-esri-loader/issues since the purpose of this repo is to demonstrate how to use the ArcGIS API in an angular-cli app, which uses webpack.

That said, I don't anticipate that I'll work on this any time soon. Don't get me wrong, I very much want to support your use case. However,

[2017-01-23 23:50] sidewaiise commented on #24
Hi Tom,

I feel your pain. I got it working in the end. I'm not sure if I've done it
the correct way, but because the material2 seed project uses system.js, I
added the packages you would usually just npm install into the seed
system.js set up file. I had to add it in 3 different spots so that the
packages would resolve but it worked in the end.

It's true that trying to use Angular 2/3/4 with vel

[2017-01-26 16:41] dorianboulch opened #25 "FeatureLayer"
I can't find how to add a FeatureLayer to the map, can you help me ?
Thanks

[2017-01-27 03:18] TheKeithStewart commented on #25
@dorianboulch, I should have an example or two of adding FeatureLayers into a map soon for #19.  However, basically what you need to do is use the EsriLoaderService to load in the ESRI modules that you need, create the FeatureLayer, and add it to your map.  It would look something like this:

[code]

Again, keep an eye on #19 as we will be adding some examples there.

[2017-01-27 09:36] dorianboulch commented on #25
Great, it works !
Thank you a lot

[2017-01-27 09:36] #25 closed

[2017-01-31 22:51] #24 closed

[2017-02-01 02:56] jwasilgeo commented on #19
@kgs916 I'm glad to hear that solved the popups issue.  Anything else I can do to help you out with this effort?

[2017-02-01 03:18] TheKeithStewart commented on #19
Thanks for the offer, @jwasilgeo. I've slowed down a bit on this because I've got some release deadlines on other projects that I've got to hit right now.

I'm probably going to be picking up the pace on this task after this weekend. Im thinking to make some incremental, small pull requess just to get this moving. I'll reach out if I run into any snags.

[2017-02-01 20:44] jwasilgeo commented on #22
@tomwayson I have begun to look into this, and admittedly only with a half hour spent on it so far, I've had luck with `@import`s in the main styles.css, rather than adding full hrefs to the `apps[0].styles` array.  For example:

[code]

Then, these get added to the DOM:
![image](https://cloud.githubusercontent.com/assets/4933392/22525433/c190e39e-e88c-11e6-9ff2-06a1b4606bd5.png)

I'll look a bit

[2017-02-01 21:35] TheKeithStewart commented on #22
@tomwayson and @jwasilgeo, looking at the [getting started guide](https://github.com/angular/material2/blob/master/guides/getting-started.md) for the Angular Material 2 project it looks like the recommendation for adding the font icons styles is in the index.html even in an Angular CLI app.  I would assume this would go for any remote libraries that you wanted included (i.e. main.css from arcgis.c

[2017-02-01 22:04] jwasilgeo commented on #22
Interesting, thanks for pointing all that out, @kgs916.

How do y'all want to proceed?

[2017-02-01 22:27] tomwayson commented on #22
Thanks guys.

`@import` statements work for me - less ✨magic✨. Main thing I care about are:
1. getting them out of index.html
1. doc'ing in the readme where to add them

[2017-02-01 22:31] jwasilgeo commented on #22
On it.

[2017-02-02 05:27] #22 closed

[2017-02-14 17:13] tomwayson commented on #4
In the case of this repo, since we're using angular2-esri4-components, there is no need to declare a dev dependency on the ArcGIS types. This issue was effectively resolved in #27.

However, for others that might not be using that component library, you'll want to see https://github.com/tomwayson/angular2-esri-loader/issues/2

[2017-02-14 17:13] #4 closed

[2017-02-16 23:35] tyler-austin opened #29 "Module build failed: TypeError: Cannot read property 'newLine' of undefined"
node.js:
[code]

debug.log

[0216/175329.131:ERROR:crashpad_client_win.cc(454)] CreateProcess: Access is denied. (0x5)
[0216/175343.509:ERROR:crashpad_client_win.cc(454)] CreateProcess: Access is denied. (0x5)
[0216/175346.740:ERROR:crashpad_client_win.cc(454)] CreateProcess: Access is denied. (0x5)

[code]

[2017-02-17 15:13] tomwayson commented on #29
Did you modify the code at all?

The following works fine for me.
[code]

What OS and node version? I'm on OSX with:
[code]

That doesn't strictly meet the [angular-cli prerequisites](https://github.com/angular/angular-cli#prerequisites), but it works on my machine.

What angular-cli version?

➜  esri-angular-cli-example git:(master) ng version
angular-cli: 1.0.0-beta.19-3
node: 6.3.0
os: darwin x

[2017-02-17 16:50] tyler-austin commented on #29
I uninstalled the latest version of angular-cli and then installed angular-cli@1.0.0-beta.26, I was then able to install and serve the esri-angular-cli-example

thanks Tom, you rock!

[2017-02-17 16:50] #29 closed

[2017-02-18 18:49] tomwayson opened #30 "Add instructions to README on how to add ArcGIS to a new angular-cli app"
#29 highlights the need for instructions that shows the minimal steps to start using the ArcGIS API in an angular-cli app rather than leaving it up to devs to reverse engineer from this increasingly complex example app. Something that starts where [the angular-cli instructions for creating a new app](https://github.com/angular/angular-cli#generating-and-serving-an-angular-project-via-a-development

[2017-03-01 16:53] tomwayson commented on #30
A better idea is to help @jwasilgeo make his [gist on how to add esri libraries to angular2-webpack-starter](https://gist.github.com/jwasilgeo/00855ee002aca822e33abd8a7a031f56) more generic so it applies to angular-cli as well. Then just link to that from the README.

[2017-03-01 17:20] jwasilgeo commented on #30
@tomwayson please take another look now, and feel free to edit the gist.

[2017-04-07 22:55] tomwayson opened #31 "Update to cli v1 now that it's out"
See https://github.com/angular/angular-cli/wiki/stories-1.0-update

[2017-04-07 22:57] tomwayson commented on #19
bumped priority down after #28

[2017-04-10 10:10] TheKeithStewart commented on #19
Thanks, @tomwayson!  I keep on trying to get back on this but the last couple months have seemed to be non stop at work.

[2017-04-10 23:49] tomwayson commented on #19
no worries, that's why I bumped down the priority

[2017-04-12 03:48] #30 closed

[2017-04-12 05:40] ashrafonline opened #33 "Calling map service RESTful url"
The title says it all , I don't want to consume a portal map , I've my own map service and I want to display it .
Thanks

[2017-04-12 07:00] tomwayson commented on #33
You can do that.

The [esri4-map component](https://github.com/kgs916/angular2-esri4-components/tree/master/src/lib/esri4-map) has a `mapProperties` attribute, which I assume corresponds to the
[`properties` you can pass to `new Map()`](https://developers.arcgis.com/javascript/latest/api-reference/esri-Map.html#properties-summary) which includes `basemap` and `layers`. If that doesn't work for you

[2017-04-12 08:42] ashrafonline commented on #33
Thank you , @tomwayson
The first approach didn't work with me , as the namespace __esri is not accessible inside onMpaInit .
But [angular2-esro-loader](https://github.com/tomwayson/angular2-esri-loader) did the trick for me .
Also I managed to modify the code to access the latest ArcGIS JS API which is 4.3

`url: '//js.arcgis.com/4.3/'`

`this.esriLoader.loadModules(['esri/Map', 'esri/views/MapVie

[2017-04-12 08:42] #33 closed

[2017-04-12 13:49] tomwayson commented on #33
Glad you got it working.

FYI - You should not use `dojo/domReady!`

You would need to install the types in your app first. Or just use `any` that's what I do b/c TypeScript hates me.

You should not need to modify any code to do that. You can pass the url to the version to `.load()`

[code]

[2017-04-12 13:57] ashrafonline commented on #33
ESRI changed the modules names since 4.x , for instance 'esri/map' became 'esri/Map' . Also they introduced some new modules like MapView, MapImageLayer etc ..

Correct .

[2017-04-12 14:23] tomwayson commented on #33
Yes, we also released updated the types, which you _should_ be able to install and use following these instructions: https://github.com/tomwayson/angular2-esri-loader#arcgis-types

I'd be interested to know if that works for you. The last time I tried that in an angular-cli app it I could use the types in VS Code, but `ng-serve` showed a (fatal! what amazing DX) error: `ERROR in /path/to/my/app/sr

[2017-04-12 15:02] ashrafonline commented on #33
I tried it , with no luck . I keep getting an error in import modules , later on I saw a comment somewhere that I could add a property in the compiler config file , tried it also and the error still there .

I think for now the loader you wrote is the best solution . I'll try to publish an example using it with some of 4.3 capabilities .

BTW TypeScript hates me as well . You are not alone :)

Tha

[2017-04-12 17:33] tomwayson commented on #33
Ha! I thought I was the only one.

So are you using angular-cli as well?

[2017-04-12 19:41] ashrafonline commented on #33
Yes ! , I did an example and I'll host it soon . Will share the link Soon .

[2017-04-13 07:37] ashrafonline commented on #33
Yep , I published my code [here](https://github.com/ashrafonline/ESRI43AngularCLI)

[2017-04-13 10:21] TheKeithStewart commented on #33
@ashrafonline, thanks for publishing your example.  I took what you did and got it working inside the structure of this repo using the angular2-esri4-components library.  Take a look at my example [here](https://github.com/kgs916/esri-angular-cli-example/tree/loadMapServ).

If you continue to have issues with the TypeScript annotations I could take a look at it for you and see if I can help.  Plea

[2017-04-13 16:20] ashrafonline commented on #33
@kgs916 thanks for your comment . Would you please modify your example to see how could you call a map service instead of portal itemid . That was the issue that I couldnt do.

[2017-04-13 16:49] #31 closed

[2017-04-13 16:54] tomwayson commented on #33
@kgs916

When I noticed the above build errors when using the 4.x types was when I was walking through the steps to add the new [add JSAPI to your own angular-cli app](https://github.com/tomwayson/esri-angular-cli-example#adding-the-arcgis-api-to-your-own-angular-cli-application) instructions to the README. If you follow the steps in [my gist](https://gist.github.com/tomwayson/e6260adfd56c25293139

[2017-04-14 05:52] ashrafonline commented on #33
@kgs916

I went through your example , It worked with me , I recognized that I should load ESRI modules via `this.esriLoader.loadModules` .
I think this was the point I was missing , Though I still believe that I could logically get them loaded automatically when I call something like `tileLayer: __esri.TileLayerConstructor` , correct me if I'm wrong .

[2017-04-14 13:26] TheKeithStewart commented on #33
@tomwayson

There is one addition to your steps that is necessary in order to start being able to use the arcgis-js-api types in your code.  You must include it in the `types` array in the `tsconfig.app.json` file.  It should look something like this:

[code]

You will also need to add it to the `tsconfig.spec.json` file:

[code]

The `tsconfig.json` file that is in the root of the project does `"

[2017-04-14 13:34] TheKeithStewart commented on #33
@ashrafonline

Simply calling `tileLayer: __esri.TileLayerConstructor` is not enough.  This will simply type a variable as `TileLayerConstructor` in your code editor.  When the TypeScript is transpiled to JavaScript it will not become an instance of `TileLayer`.  It is important that you do something like this to load in the `TileLayer` module:

[code]

[2017-04-14 13:51] ashrafonline commented on #33
@kgs916

I thought the same concept of `__esri.Map` and `__esri.MapView` could be applied on `__esri.MapImageLayerConstructor` as you could use them directly without the need of importing `'esri/layers/Map'` and `'esri/layers/MapView`.

I would be much happier If I could use them(and other modules) directly without the importing part .

[2017-04-14 18:24] tomwayson commented on #33
@ashrafonline

I think I see what you are saying. When passing the [`layers` property](https://developers.arcgis.com/javascript/latest/api-reference/esri-Map.html#layers) to the MapConstructor, it looks like supports casting an array of layer _instances_ to a collection, but it may not support casting an array of POJOs (i.e. the constructor properties for each layer). Is that the issue?

[2017-04-15 03:37] ashrafonline commented on #33
@tomwayson

I wanted to say : calling `__esri.SomethingConstructor` should automatically load the module `esri/Something` , exactly as same as `__esri.Map` and `__esri.MapView` .

[2017-04-15 15:09] tomwayson commented on #33
I'm not sure what you mean. Calling `new Map()` does not automatically load the `esri/Map` module.

[2017-04-15 15:13] ashrafonline commented on #33
@tomwayson
Never mind ,I got what I was looking for , my concern was in saving some sort of codes , no more or less.

[2017-05-25 11:48] TheKeithStewart opened #35 "Upgrade to use the latest angular-esri-loader and angular-esri-components module"

[2017-05-28 19:31] TheKeithStewart opened #37 "Add ability to run this app inside of Electron"

[2017-05-29 21:43] tomwayson commented on #35
resolved in #36

[2017-05-29 21:43] #35 closed

[2017-05-29 21:44] tomwayson commented on #19
I'm considering this done as of #28

[2017-05-29 21:44] #19 closed

[2017-05-29 21:59] tomwayson opened #38 "deploy (and release?) script(s)"
Looks like more recent versions of angular cli don't include gh-pages deploy, so [these instructions](https://github.com/tomwayson/esri-angular-cli-example#deploying-to-github-pages) are no longer valid.

There is an npm package: https://www.npmjs.com/package/angular-cli-ghpages

Also, a [CHANGELOG](https://github.com/tomwayson/esri-angular-cli-example/blob/master/CHANGELOG.md) and [releases](http

[2017-08-02 04:35] digz6666 opened #40 "Couldn't resolve @angular/cdk"
When build or run it says couldn't resolve @angular/cdk.

[code]

Installed angular/cdk and the problem is gone.
More info: https://github.com/angular/material2/issues/6046

[2017-08-03 05:15] digz6666 opened #41 "Cannot use __esri namespace in ngOnInit or onMapInit"
I'm trying to add FeatureLayer to the map but cannot use __esri namespace on ngOnInit or onMapInit.

I've cloned this example and modified esri-map.component.ts:
[code]

But it throws following error on new __esri.FeatureLayer on the browser.
[code]

Can I use __esri namespace like this? How can I add feature layers as I cannot find any example.

[2017-08-03 09:17] digz6666 commented on #41
I read following issue https://github.com/tomwayson/esri-angular-cli-example/issues/33 and following example showed me different approach which works perfectly:
https://github.com/ashrafonline/ESRI43AngularCLI

[2017-08-03 09:17] #41 closed

[2017-08-03 09:17] #40 closed

[2017-08-03 09:44] TheKeithStewart commented on #40
@digz6666 Thanks for the info!  We will add the @angular/cdk library to this example as well.

[2017-09-20 08:48] tomasvoj opened #42 "How to enable snapping"
Hi @tomwayson, I've tried to create an app using this esri-angular-cli-example (API version 3.21). But I can't enable snapping, before draw toolbar is activated. Here is my map.service method:

[code]

Any ideas please?

[2017-09-21 19:31] tomwayson commented on #42
I've not ever done this, but I'm guessing that if you included `esri/SnappingManager` in the same call to `loadModules()` that you use to create the map (or the one that activates the drawing toolbar), you should be able to control the timing of when you call `enableSnapping`.

[2017-09-25 11:15] tomasvoj commented on #42
Thanks, I've done it as you wrote. But I've already made a mistake in the layerInfo's layer property before. Now it works.

[2017-09-25 11:15] #42 closed

[2017-11-02 12:31] assaftenen opened #43 "error during npm install"
[2017-11-02T12_26_00_787Z-debug.log](https://github.com/tomwayson/esri-angular-cli-example/files/1437684/2017-11-02T12_26_00_787Z-debug.log)

Im getting the next error =>
npm ERR! code EINTEGRITY
npm ERR! sha1-7znN6ierrAtQAkLWcmq5DgyEZjE= integrity checksum failed when using sha1: wanted sha1-7znN6ierrAtQAkLWcmq5DgyEZjE= but got sha1-yISc6nreDBl2Y3wLQgSAt1Hin7
I=. (245351 bytes)

attached the debu

[2017-11-02 13:46] tomwayson commented on #43
Are you trying to run npm install this repo? You should *not*. See https://github.com/tomwayson/esri-angular-cli-example/blob/master/README.md#adding-the-arcgis-api-to-your-own-angular-cli-application

[2017-12-21 06:26] #43 closed

[2017-12-21 06:26] #38 closed

[2017-12-21 06:26] #37 closed

[2017-12-21 06:27] #6 closed